.main-button-container {
    display: flex;
    justify-content: center;
}

button {
    width: 100vw;
    height: 100px;
    margin: 0;
    padding: 0;
    border-radius: 0;
    border: none;
    background-color: transparent;
    color: #1E352F;
    transition: 0.3s ease;
}

button:hover {
    background-color: #335145;
    color: #A6C36F;
}

.center-left-button {
    border-left: #1E352F 3px solid;
    border-right: #1E352F 3px solid;
}

.center-right-button {
    border-right: #1E352F 3px solid;
}